h1 {
 
  font-size: 32px;
}
h1.title {
  font-size: 32px;
 
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
  display: block;
  margin: center;
}

img-circle {
  border-radius: 50%;
}

body {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f7bfbf4a;
}

.navbar-inverse {
    background-color: #e84977;
    border-color: #dddddd;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #e84977;
}

